<div class="z-20 flex items-center justify-center">

  <%# Comments %>
  <%= render 'churps/shared/comments', churp: churp %>

  <%# Rechurp %>
  <%= render 'churps/shared/rechurp_button', churp: churp %>

  <%= render 'churps/shared/likes', churp: churp %>

  <%# Share %>
  <%= render 'churps/shared/share' %>

</div>