<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Comment</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to comments_path, class: button_class(theme: "transparent") do %>
      All Comments
      <% end %>
      <%= link_to edit_comment_path(@comment), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
  </ul>
</div>
