<div data-broadcast-churps-target="notificationParent" hidden>
  <div class=" border-gray-200 dark:border-dim-200 py-2 border-b border-l border-r hover:bg-gray-50 dark:hover:bg-dim-300 cursor-pointer">
    <div class="flex flex-shrink-0 items-center justify-center py-4 bg-white dark:bg-dim-900 border-gray-200 dark:border-dim-200 hover:bg-gray-50 dark:hover:bg-dim-300 cursor-pointer transition duration-350 ease-in-out text-blue-400 text-sm">
      <button
        data-broadcast-churps-target="notification"
        data-action="click->broadcast-churps#loadNewChurps"></button>
    </div>
  </div>
</div>
