<div class="w-full sm:w-600 h-screen scrollbar-hide">

  <%= render 'shared/header',
      view: :notifications,
      name: :notifications,
      followers: nil,
      following: nil,
      is_active: nil %>

    <% @notifications.each do |notification| %>
      <%= render Notifications::MentionComponent.new(
        user: notification.to_notification.creator,
        churp: notification.to_notification.churp,
        unread: notification.unread?) %>
    <% end %>

</div>