<!-- Left -->
<div class="w-68 xs:w-88 xl:w-275 h-screen">
  <div class="flex flex-col h-screen xl:pr-3 fixed w-68 xs:w-88 xl:w-275 scrollbar-hide">
    
    <%= render 'shared/logo' %>

    <%= render 'shared/navbar'%>

    <%= render 'shared/user_menu'%>

  </div>
</div>
<!-- /Left -->