<%= link_to destroy_user_session_path, 
    data: { "turbo-method": :delete },
    class: "w-14 xl:w-full mx-auto mt-auto flex flex-row justify-between mb-5 rounded-full hover:bg-blue-50 dark:hover:bg-dim-800 p-2 cursor-pointer transition duration-350 ease-in-out" do %>
  <div class="">
    <div class="flex flex-row">
      <img class="w-10 h-10 rounded-full" src="https://pbs.twimg.com/profile_images/1308769664240160770/AfgzWVE7_normal.jpg" alt="Joe Biden"/>
      <div class="hidden xl:block flex flex-col ml-2">
        <h1 class="text-gray-800 dark:text-white font-bold text-sm"> <%= current_user.profile&.name%> </h1>
        <p class="text-gray-400 text-sm"><%= current_user.username %></p>
      </div>
    </div>

    <div class="hidden xl:block">
      <div class="flex items-center h-full text-gray-800 dark:text-white">
        <svg viewBox="0 0 24 24" fill="currentColor" class="h-4 w-4 mr-2">
          <g>
            <path d="M20.207 8.147c-.39-.39-1.023-.39-1.414 0L12 14.94 5.207 8.147c-.39-.39-1.023-.39-1.414 0-.39.39-.39 1.023 0 1.414l7.5 7.5c.195.196.45.294.707.294s.512-.098.707-.293l7.5-7.5c.39-.39.39-1.022 0-1.413z"></path>
          </g>
        </svg>
      </div>
    </div>
  </div>
<% end %>
