<% unless @user == @profile.user %>
  <%= helpers.turbo_frame_tag "profile_follow_#{@profile.id}" do %>
    <div class="inline-block" data-controller="profile-following">
      <% if @user.following?(@profile.user) %>
        <%= button_to 'Following', unfollow_profile_path(@profile.user), 
            data: {
              action: 'mouseover->profile-following#unfollowHover mouseleave->profile-following#followHover',
              profile_following_target: "follow",
              profile_following_target_profile: @profile.id,
            }, class: 'profile-following primary' %>
      <% else %>
        <%= button_to 'Follow', follow_profile_path(@profile.user), class: 'profile-following primary' %>
      <% end %>
    </div>
  <% end %>
<% end %>