<div>
  <%= turbo_stream_from "notifications_count_#{user.id}" %>
  <%= turbo_frame_tag "notifications_count_#{user.id}" do %>
    <% if count.positive? %>
      <div class="notificationCount <%= count >= 20 ? 'w-[2rem] h-[1.5rem]' : 'w-[1.4rem] h-[1.4rem]' %>">
        <% if count >= 20 %>
          20<span class="text-md">+</span>
        <% else %>
          <%= count %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>