<div class="z-20 flex items-center justify-center">

  <%# Comments %>
  <%= render 'tweets/shared/comments' %>

  <%# Retweet %>
  <%= render 'tweets/shared/retweet' %>

  <%= render 'tweets/shared/likes', tweet: tweet %>

  <%# Share %>
  <%= render 'tweets/shared/share' %>

</div>