{
  "openapi": "3.0.1",
  "info": {
    "title": "Churp Social API",
    "version": "v1",
    "description": "HTTP interface for the Churp Social Network. Authentication is JWT bearer unless otherwise noted.",
    "contact": {
      "name": "Churp Platform Team",
      "url": "https://churp.app",
      "email": "api@churp.app"
    }
  },
  "servers": [
    {
      "url": "https://api.churp.app"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "StatusMessage": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "example": 200
          },
          "message": {
            "type": "string",
            "example": "Operation completed successfully."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": [
          "status"
        ],
        "properties": {
          "status": {
            "$ref": "#/components/schemas/StatusMessage"
          }
        }
      },
      "UserAttributes": {
        "type": "object",
        "required": [
          "id",
          "username",
          "email",
          "created_at"
        ],
        "properties": {
          "id": {
            "type": "string",
            "example": "1"
          },
          "username": {
            "type": "string",
            "example": "winston"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "winston@churp.app"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "created_date": {
            "type": "string",
            "example": "01/31/2025"
          }
        }
      },
      "UserResponse": {
        "type": "object",
        "required": [
          "status",
          "data"
        ],
        "properties": {
          "status": {
            "$ref": "#/components/schemas/StatusMessage"
          },
          "data": {
            "$ref": "#/components/schemas/UserAttributes"
          }
        }
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "example": 1
          },
          "items": {
            "type": "integer",
            "example": 15
          },
          "count": {
            "type": "integer",
            "example": 125
          },
          "pages": {
            "type": "integer",
            "example": 9
          }
        }
      },
      "ChurpAttributes": {
        "type": "object",
        "required": [
          "body",
          "churp_type",
          "rechurp_count",
          "created_at",
          "updated_at"
        ],
        "properties": {
          "body": {
            "type": "string",
            "example": "Building Churp v2."
          },
          "churp_type": {
            "type": "string",
            "example": "churp"
          },
          "rechurp_count": {
            "type": "integer",
            "example": 0
          },
          "churp_id": {
            "type": "integer",
            "nullable": true
          },
          "user_id": {
            "type": "integer",
            "example": 42
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ChurpResource": {
        "type": "object",
        "required": [
          "id",
          "type",
          "attributes"
        ],
        "properties": {
          "id": {
            "type": "string",
            "example": "1"
          },
          "type": {
            "type": "string",
            "example": "churp"
          },
          "attributes": {
            "$ref": "#/components/schemas/ChurpAttributes"
          }
        }
      },
      "ChurpCollectionResponse": {
        "type": "object",
        "required": [
          "data",
          "meta"
        ],
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChurpResource"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        }
      },
      "ChurpResponse": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/ChurpResource"
          }
        }
      },
      "ChurpMutationResponse": {
        "type": "object",
        "required": [
          "status",
          "data"
        ],
        "properties": {
          "status": {
            "$ref": "#/components/schemas/StatusMessage"
          },
          "data": {
            "$ref": "#/components/schemas/ChurpResource"
          }
        }
      },
      "StatusOnlyResponse": {
        "type": "object",
        "required": [
          "status"
        ],
        "properties": {
          "status": {
            "$ref": "#/components/schemas/StatusMessage"
          }
        }
      },
      "UserRegistrationPayload": {
        "type": "object",
        "required": [
          "user"
        ],
        "properties": {
          "user": {
            "type": "object",
            "required": [
              "email",
              "username",
              "password",
              "password_confirmation"
            ],
            "properties": {
              "email": {
                "type": "string",
                "format": "email"
              },
              "username": {
                "type": "string"
              },
              "password": {
                "type": "string",
                "format": "password"
              },
              "password_confirmation": {
                "type": "string",
                "format": "password"
              },
              "profile_attributes": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "UserSignInPayload": {
        "type": "object",
        "required": [
          "user"
        ],
        "properties": {
          "user": {
            "type": "object",
            "required": [
              "email",
              "password"
            ],
            "properties": {
              "email": {
                "type": "string",
                "format": "email"
              },
              "password": {
                "type": "string",
                "format": "password"
              }
            }
          }
        }
      },
      "ChurpPayload": {
        "type": "object",
        "required": [
          "churp"
        ],
        "properties": {
          "churp": {
            "type": "object",
            "required": [
              "body"
            ],
            "properties": {
              "body": {
                "type": "string",
                "description": "Churp contents."
              },
              "churp_id": {
                "type": "integer",
                "nullable": true,
                "description": "Original churp id when rechurping."
              },
              "churp_pic": {
                "type": "string",
                "description": "Base64 string or Active Storage attachment reference."
              }
            }
          }
        }
      },
      "UnauthorizedError": {
        "type": "object",
        "required": [
          "status"
        ],
        "properties": {
          "status": {
            "$ref": "#/components/schemas/StatusMessage"
          }
        },
        "example": {
          "status": {
            "code": 401,
            "message": "Unauthorized."
          }
        }
      }
    }
  },
  "paths": {
    "/api/v1/users": {
      "post": {
        "summary": "Sign up",
        "description": "Create a new Churp account via Devise registrations controller.",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserRegistrationPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User registered successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/sign_in": {
      "post": {
        "summary": "Sign in",
        "description": "Authenticate a user and receive JWT credentials.",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserSignInPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Valid credentials.",
            "headers": {
              "Authorization": {
                "schema": {
                  "type": "string"
                },
                "description": "JWT token returned by devise-jwt."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid Email or password."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/churps": {
      "get": {
        "summary": "List churps",
        "tags": [
          "Churps"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Page number for paginated results."
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated churps.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChurpCollectionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create churp",
        "tags": [
          "Churps"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChurpPayload"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChurpMutationResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/churps/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Churp ID."
        }
      ],
      "get": {
        "summary": "Show churp",
        "tags": [
          "Churps"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChurpResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete churp",
        "tags": [
          "Churps"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusOnlyResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/churps/{id}/like": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Churp ID."
        }
      ],
      "post": {
        "summary": "Like churp",
        "tags": [
          "Churps"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Like recorded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusOnlyResponse"
                }
              }
            }
          },
          "404": {
            "description": "Churp not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/churps/{id}/rechurp": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Original churp ID."
        }
      ],
      "post": {
        "summary": "Rechurp",
        "tags": [
          "Churps"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "Rechurp created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusOnlyResponse"
                }
              }
            }
          },
          "422": {
            "description": "Rechurp failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  }
}
