.trix-content .octicon {
    display: inline-block;
    fill: currentColor;
    vertical-align: text-bottom;
  }
  
  .trix-content .anchor {
    float: left;
    line-height: 1;
    margin-left: -20px;
    padding-right: 4px;
  }
  
  .trix-content .anchor:focus {
    outline: none;
  }
  
  .trix-content h1 .octicon-link,
  .trix-content h2 .octicon-link,
  .trix-content h3 .octicon-link,
  .trix-content h4 .octicon-link,
  .trix-content h5 .octicon-link,
  .trix-content h6 .octicon-link {
    color: #282a36;
    vertical-align: middle;
    visibility: hidden;
  }
  
  .trix-content h1:hover .anchor,
  .trix-content h2:hover .anchor,
  .trix-content h3:hover .anchor,
  .trix-content h4:hover .anchor,
  .trix-content h5:hover .anchor,
  .trix-content h6:hover .anchor {
    text-decoration: none;
  }
  
  .trix-content h1:hover .anchor .octicon-link,
  .trix-content h2:hover .anchor .octicon-link,
  .trix-content h3:hover .anchor .octicon-link,
  .trix-content h4:hover .anchor .octicon-link,
  .trix-content h5:hover .anchor .octicon-link,
  .trix-content h6:hover .anchor .octicon-link {
    visibility: visible;
  }
  
  .trix-content {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    color: #f8f8f2; /* 基本文字 */
    line-height: 1.5;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
  }
  
  .trix-content .pl-c {
    color: #44475a;
  }
  
  .trix-content .pl-c1,
  .trix-content .pl-s .pl-v {
    color: #8be9fd; /* 代码段函数名？ */
  }
  
  .trix-content .pl-e,
  .trix-content .pl-en {
    color: #bd93f9;
  }
  
  .trix-content .pl-s .pl-s1,
  .trix-content .pl-smi {
    color: #24292e;
  }
  
  .trix-content .pl-ent {
    color: #50fa7b;
  }
  
  .trix-content .pl-k {
    color: #ff5555; /* 代码段关键字？ */
  }
  
  .trix-content .pl-pds,
  .trix-content .pl-s,
  .trix-content .pl-s .pl-pse .pl-s1,
  .trix-content .pl-sr,
  .trix-content .pl-sr .pl-cce,
  .trix-content .pl-sr .pl-sra,
  .trix-content .pl-sr .pl-sre {
    color: #6272a4; /* 字符串常量 */
  }
  
  .trix-content .pl-smw,
  .trix-content .pl-v {
    color: #ffb86c;
  }
  
  .trix-content .pl-bu {
    color: #ff79c6;
  }
  
  .trix-content .pl-ii {
    background-color: #ff79c6;
    color: #fafbfc;
  }
  
  .trix-content .pl-c2 {
    background-color: #ff5555;
    color: #fafbfc;
  }
  
  .trix-content .pl-c2:before {
    content: "^M";
  }
  
  .trix-content .pl-sr .pl-cce {
    color: #50fa7b;
    font-weight: 700;
  }
  
  .trix-content .pl-ml {
    color: #735c0f;
  }
  
  .trix-content .pl-mh,
  .trix-content .pl-mh .pl-en,
  .trix-content .pl-ms {
    color: #8be9fd;
    font-weight: 700;
  }
  
  .trix-content .pl-mi {
    color: #24292e;
    font-style: italic;
  }
  
  .trix-content .pl-mb {
    color: #24292e;
    font-weight: 700;
  }
  
  .trix-content .pl-md {
    background-color: #ffeef0;
    color: #ff79c6;
  }
  
  .trix-content .pl-mi1 {
    background-color: #f0fff4;
    color: #50fa7b;
  }
  
  .trix-content .pl-mc {
    background-color: #ffebda;
    color: #ffb86c;
  }
  
  .trix-content .pl-mi2 {
    background-color: #8be9fd;
    color: #f6f8fa;
  }
  
  .trix-content .pl-mdr {
    color: #bd93f9;
    font-weight: 700;
  }
  
  .trix-content .pl-ba {
    color: #586069;
  }
  
  .trix-content .pl-sg {
    color: #959da5;
  }
  
  .trix-content .pl-corl {
    color: #6272a4;
    text-decoration: underline;
  }
  
  .trix-content details {
    display: block;
  }
  
  .trix-content summary {
    display: list-item;
  }
  
  .trix-content a {
    background-color: transparent;
  }
  
  .trix-content a:active,
  .trix-content a:hover {
    outline-width: 0;
  }
  
  .trix-content strong {
    font-weight: inherit;
    font-weight: bolder;
  }
  
  .trix-content h1 {
    font-size: 2em;
    margin: .67em 0;
  }
  
  .trix-content img {
    border-style: none;
  }
  
  .trix-content code,
  .trix-content kbd,
  .trix-content pre {
    font-family: monospace,monospace;
    font-size: 1em;
  }
  
  .trix-content hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
  }
  
  .trix-content input {
    font: inherit;
    margin: 0;
  }
  
  .trix-content input {
    overflow: visible;
  }
  
  .trix-content [type=checkbox] {
    box-sizing: border-box;
    padding: 0;
  }
  
  .trix-content * {
    box-sizing: border-box;
  }
  
  .trix-content input {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
  
  .trix-content a {
    color: #bd93f9; /* 超链接 */
    text-decoration: none;
  }
  
  .trix-content a:hover {
    text-decoration: underline;
  }
  
  .trix-content strong {
    font-weight: 600;
  }
  
  .trix-content hr {
    background: transparent;
    border: 0;
    border-bottom: 1px solid #dfe2e5;
    height: 0;
    margin: 15px 0;
    overflow: hidden;
  }
  
  .trix-content hr:before {
    content: "";
    display: table;
  }
  
  .trix-content hr:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .trix-content table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  .trix-content td,
  .trix-content th {
    padding: 0;
  }
  
  .trix-content details summary {
    cursor: pointer;
  }
  
  .trix-content h1,
  .trix-content h2,
  .trix-content h3,
  .trix-content h4,
  .trix-content h5,
  .trix-content h6 {
    margin-bottom: 0;
    margin-top: 0;
  }
  
  .trix-content h1 {
    font-size: 32px;
  }
  
  .trix-content h1,
  .trix-content h2 {
    font-weight: 600;
  }
  
  .trix-content h2 {
    font-size: 24px;
  }
  
  .trix-content h3 {
    font-size: 20px;
  }
  
  .trix-content h3,
  .trix-content h4 {
    font-weight: 600;
  }
  
  .trix-content h4 {
    font-size: 16px;
  }
  
  .trix-content h5 {
    font-size: 14px;
  }
  
  .trix-content h5,
  .trix-content h6 {
    font-weight: 600;
  }
  
  .trix-content h6 {
    font-size: 12px;
  }
  
  .trix-content p {
    margin-bottom: 10px;
    margin-top: 0;
  }
  
  .trix-content blockquote {
    margin: 0;
  }
  
  .trix-content ol,
  .trix-content ul {
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
  }
  
  .trix-content ol ol,
  .trix-content ul ol {
    list-style-type: lower-roman;
  }
  
  .trix-content ol ol ol,
  .trix-content ol ul ol,
  .trix-content ul ol ol,
  .trix-content ul ul ol {
    list-style-type: lower-alpha;
  }
  
  .trix-content dd {
    margin-left: 0;
  }
  
  .trix-content code,
  .trix-content pre {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
    font-size: 12px;
  }
  
  .trix-content pre {
    margin-bottom: 0;
    margin-top: 0;
  }
  
  .trix-content input::-webkit-inner-spin-button,
  .trix-content input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
  }
  
  .trix-content .border {
    border: 1px solid #e1e4e8!important;
  }
  
  .trix-content .border-0 {
    border: 0!important;
  }
  
  .trix-content .border-bottom {
    border-bottom: 1px solid #e1e4e8!important;
  }
  
  .trix-content .rounded-1 {
    border-radius: 3px!important;
  }
  
  .trix-content .bg-white {
    background-color: #fff!important;
  }
  
  .trix-content .bg-gray-light {
    background-color: #fafbfc!important;
  }
  
  .trix-content .text-gray-light {
    color: #44475a!important;
  }
  
  .trix-content .mb-0 {
    margin-bottom: 0!important;
  }
  
  .trix-content .my-2 {
    margin-bottom: 8px!important;
    margin-top: 8px!important;
  }
  
  .trix-content .pl-0 {
    padding-left: 0!important;
  }
  
  .trix-content .py-0 {
    padding-bottom: 0!important;
    padding-top: 0!important;
  }
  
  .trix-content .pl-1 {
    padding-left: 4px!important;
  }
  
  .trix-content .pl-2 {
    padding-left: 8px!important;
  }
  
  .trix-content .py-2 {
    padding-bottom: 8px!important;
    padding-top: 8px!important;
  }
  
  .trix-content .pl-3,
  .trix-content .px-3 {
    padding-left: 16px!important;
  }
  
  .trix-content .px-3 {
    padding-right: 16px!important;
  }
  
  .trix-content .pl-4 {
    padding-left: 24px!important;
  }
  
  .trix-content .pl-5 {
    padding-left: 32px!important;
  }
  
  .trix-content .pl-6 {
    padding-left: 40px!important;
  }
  
  .trix-content .f6 {
    font-size: 12px!important;
  }
  
  .trix-content .lh-condensed {
    line-height: 1.25!important;
  }
  
  .trix-content .text-bold {
    font-weight: 600!important;
  }
  
  .trix-content:before {
    content: "";
    display: table;
  }
  
  .trix-content:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .trix-content>:first-child {
    margin-top: 0!important;
  }
  
  .trix-content>:last-child {
    margin-bottom: 0!important;
  }
  
  .trix-content a:not([href]) {
    color: inherit;
    text-decoration: none;
  }
  
  .trix-content blockquote,
  .trix-content dl,
  .trix-content ol,
  .trix-content p,
  .trix-content pre,
  .trix-content table,
  .trix-content ul {
    margin-bottom: 16px;
    margin-top: 0;
  }
  
  .trix-content hr {
    background-color: #888888; /* 分割线 */
    border: 0;
    height: .25em;
    margin: 24px 0;
    padding: 0;
  }
  
  .trix-content blockquote { /* 引用块 */
    border-left: .25em solid #888888; /* 左边的线 */
    color: #a8a8a8; /* 字体颜色 */
    padding: 0 1em;
  }
  
  .trix-content blockquote>:first-child {
    margin-top: 0;
  }
  
  .trix-content blockquote>:last-child {
    margin-bottom: 0;
  }
  
  .trix-content kbd {
    /* background-color: #fafbfc; */
    background-color: #ff5555;
    border: 1px solid #c6cbd1;
    border-bottom-color: #959da5;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #959da5;
    /* color: #444d56; */
    color: #ff5555;
    display: inline-block;
    font-size: 11px;
    line-height: 10px;
    padding: 3px 5px;
    vertical-align: middle;
  }
  
  .trix-content h1,
  .trix-content h2,
  .trix-content h3,
  .trix-content h4,
  .trix-content h5,
  .trix-content h6 {
    font-weight: 600;
    line-height: 1.25;
    margin-bottom: 16px;
    margin-top: 24px;
  }
  
  .trix-content h1 {
    font-size: 2em;
  }
  
  .trix-content h1,
  .trix-content h2 {
    border-bottom: 1px solid #888888; /* 标题分割线 */
    padding-bottom: .3em;
  }
  
  .trix-content h2 {
    font-size: 1.5em;
  }
  
  .trix-content h3 {
    font-size: 1.25em;
  }
  
  .trix-content h4 {
    font-size: 1em;
  }
  
  .trix-content h5 {
    font-size: .875em;
  }
  
  .trix-content h6 {
    color: #c8c8c8; /* h6 color */
    font-size: .85em;
  }
  
  .trix-content ol,
  .trix-content ul {
    padding-left: 2em;
  }
  
  .trix-content ol ol,
  .trix-content ol ul,
  .trix-content ul ol,
  .trix-content ul ul {
    margin-bottom: 0;
    margin-top: 0;
  }
  
  .trix-content li {
    word-wrap: break-all;
  }
  
  .trix-content li>p {
    margin-top: 16px;
  }
  
  .trix-content li+li {
    margin-top: .25em;
  }
  
  .trix-content dl {
    padding: 0;
  }
  
  .trix-content dl dt {
    font-size: 1em;
    font-style: italic;
    font-weight: 600;
    margin-top: 16px;
    padding: 0;
  }
  
  .trix-content dl dd {
    margin-bottom: 16px;
    padding: 0 16px;
  }
  
  .trix-content table {
    display: block;
    overflow: auto;
    width: 100%;
  }
  
  .trix-content table th {
    font-weight: 600;
  }
  
  .trix-content table td,
  .trix-content table th {
    border: 1px solid #888888; /* 表格分割线 */
    padding: 6px 13px;
  }
  
  .trix-content table tr {
    background-color: #323232; /* 表格背景色 */
    border-top: 1px solid #c6cbd1;
  }
  
  .trix-content table tr:nth-child(2n) {
    background-color: #4e4e4e; /* 表格深色背景 */
  }
  
  .trix-content img {
    background-color: #282C34; /* 图片背景 */
    box-sizing: content-box;
    max-width: 100%;
    color: #282a36;
  }
  
  .trix-content img[align=right] {
    padding-left: 20px;
  }
  
  .trix-content img[align=left] {
    padding-right: 20px;
  }
  
  .trix-content code {
    background-color: #22212C; /* `` 代码块背景 */
    border-radius: 3px;
    font-size: 85%;
    margin: 0;
    padding: .2em .4em;
  }
  
  .trix-content pre {
    word-wrap: normal;
  }
  
  .trix-content pre>code {
    background: transparent;
    border: 0;
    font-size: 100%;
    margin: 0;
    padding: 0;
    white-space: pre;
    word-break: normal;
  }
  
  .trix-content .highlight {
    margin-bottom: 16px;
  }
  
  .trix-content .highlight pre {
    margin-bottom: 0;
    word-break: normal;
  }
  
  .trix-content .highlight pre,
  .trix-content pre {
    background-color: #22212C; /* 代码段背景 */
    border-radius: 3px;
    font-size: 85%;
    line-height: 1.45;
    overflow: auto;
    padding: 16px;
  }
  
  .trix-content pre code {
    background-color: transparent;
    border: 0;
    display: inline;
    line-height: inherit;
    margin: 0;
    max-width: auto;
    overflow: visible;
    padding: 0;
    word-wrap: normal;
  }
  
  .trix-content .commit-tease-sha {
    color: #ff5555;
    display: inline-block;
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
    font-size: 90%;
  }
  
  .trix-content .blob-wrapper {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    overflow-x: auto;
    overflow-y: hidden;
  }
  
  .trix-content .blob-wrapper-embedded {
    max-height: 240px;
    overflow-y: auto;
  }
  
  .trix-content .blob-num {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    color: rgba(27,31,35,.3);
    cursor: pointer;
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
    font-size: 12px;
    line-height: 20px;
    min-width: 50px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: right;
    user-select: none;
    vertical-align: top;
    white-space: nowrap;
    width: 1%;
  }
  
  .trix-content .blob-num:hover {
    color: rgba(27,31,35,.6);
  }
  
  .trix-content .blob-num:before {
    content: attr(data-line-number);
  }
  
  .trix-content .blob-code {
    line-height: 20px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    vertical-align: top;
  }
  
  .trix-content .blob-code-inner {
    color: #24292e;
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
    font-size: 12px;
    overflow: visible;
    white-space: pre;
    word-wrap: normal;
  }
  
  .trix-content .pl-token.active,
  .trix-content .pl-token:hover {
    background: #f1fa8c;
    cursor: pointer;
  }
  
  .trix-content kbd {
    background-color: #e2e2e2; /* Inner HTML */
    border: 1px solid #d1d5da;
    border-bottom-color: #c6cbd1;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #c6cbd1;
    color: #444d56;
    display: inline-block;
    font: 11px SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
    line-height: 10px;
    padding: 3px 5px;
    vertical-align: middle;
  }
  
  .trix-content :checked+.radio-label {
    border-color: #8be9fd;
    position: relative;
    z-index: 1;
  }
  
  .trix-content .tab-size[data-tab-size="1"] {
    -moz-tab-size: 1;
    tab-size: 1;
  }
  
  .trix-content .tab-size[data-tab-size="2"] {
    -moz-tab-size: 2;
    tab-size: 2;
  }
  
  .trix-content .tab-size[data-tab-size="3"] {
    -moz-tab-size: 3;
    tab-size: 3;
  }
  
  .trix-content .tab-size[data-tab-size="4"] {
    -moz-tab-size: 4;
    tab-size: 4;
  }
  
  .trix-content .tab-size[data-tab-size="5"] {
    -moz-tab-size: 5;
    tab-size: 5;
  }
  
  .trix-content .tab-size[data-tab-size="6"] {
    -moz-tab-size: 6;
    tab-size: 6;
  }
  
  .trix-content .tab-size[data-tab-size="7"] {
    -moz-tab-size: 7;
    tab-size: 7;
  }
  
  .trix-content .tab-size[data-tab-size="8"] {
    -moz-tab-size: 8;
    tab-size: 8;
  }
  
  .trix-content .tab-size[data-tab-size="9"] {
    -moz-tab-size: 9;
    tab-size: 9;
  }
  
  .trix-content .tab-size[data-tab-size="10"] {
    -moz-tab-size: 10;
    tab-size: 10;
  }
  
  .trix-content .tab-size[data-tab-size="11"] {
    -moz-tab-size: 11;
    tab-size: 11;
  }
  
  .trix-content .tab-size[data-tab-size="12"] {
    -moz-tab-size: 12;
    tab-size: 12;
  }
  
  .trix-content .task-list-item {
    list-style-type: none;
  }
  
  .trix-content .task-list-item+.task-list-item {
    margin-top: 3px;
  }
  
  .trix-content .task-list-item input {
    margin: 0 .2em .25em -1.6em;
    vertical-align: middle;
  }
  
  .trix-content hr {
    border-bottom-color: #eee;
  }
  
  .trix-content .pl-0 {
    padding-left: 0!important;
  }
  
  .trix-content .pl-1 {
    padding-left: 4px!important;
  }
  
  .trix-content .pl-2 {
    padding-left: 8px!important;
  }
  
  .trix-content .pl-3 {
    padding-left: 16px!important;
  }
  
  .trix-content .pl-4 {
    padding-left: 24px!important;
  }
  
  .trix-content .pl-5 {
    padding-left: 32px!important;
  }
  
  .trix-content .pl-6 {
    padding-left: 40px!important;
  }
  
  .trix-content .pl-7 {
    padding-left: 48px!important;
  }
  
  .trix-content .pl-8 {
    padding-left: 64px!important;
  }
  
  .trix-content .pl-9 {
    padding-left: 80px!important;
  }
  
  .trix-content .pl-10 {
    padding-left: 96px!important;
  }
  
  .trix-content .pl-11 {
    padding-left: 112px!important;
  }
  
  .trix-content .pl-12 {
    padding-left: 128px!important;
  }
  
  /* Patch */

  #status-bar {
    background: #292A2D;
    color: #f8f8f2;
  }

  .highlight pre, .trix-content pre {
    background-color: #22212C;
    border-style: solid !important;
    border-width: 1px !important;
    border: #44475a;
  }