@import 'actiontext.css';
@import 'emoji.picker.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* width */
  ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #FFF;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #CCC;
    border-radius: 100vh;
    border: 2px solid #FFF;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #AAA;
  }

  /* width */
  .dark ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  /* Track */
  .dark ::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #374151;
  }

  /* Handle */
  .dark ::-webkit-scrollbar-thumb {
    background: #6b7280;
    border-radius: 100vh;
    border: 2px solid #374151;
  }

  /* Handle on hover */
  .dark ::-webkit-scrollbar-thumb:hover {
    background: #7a8294;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* For IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

.profile-following {
  @apply flex justify-center max-h-max whitespace-nowrap focus:outline-none focus:ring;
  @apply max-w-max border bg-transparent;
  @apply items-center hover:shadow-lg font-bold py-2 px-4 rounded-full mr-0 ml-auto;
}

.primary {
  @apply border-vividSkyBlue text-vividSkyBlue hover:border-cyan-600
}

.error {
  @apply border-red-700 text-red-700 hover:border-red-700;
}

.newChurpText {
  @apply dark:text-white text-gray-900 placeholder-gray-400 w-full bg-transparent border-0 focus:outline-none focus:ring-0 resize-none
}

.curpContent a {
  @apply hover:underline
}

.newNotification {
  @apply transition-opacity ease-in duration-700 visible;
}

.broadcastHidden {
  display: none;
}

.notificationCount {
  @apply absolute bottom-auto left-auto right-0 top-0 z-10 inline-block -translate-y-1/2 translate-x-[36%];
  @apply rotate-0 skew-x-0 skew-y-0 scale-x-100 scale-y-100 whitespace-nowrap text-xs font-bold rounded-[50%];
  @apply p-1 bg-vividSkyBlue text-gray-100 text-center;
}