@import 'actiontext.css';
@import 'actiontext-dracula.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* width */
  ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #FFF;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #CCC;
    border-radius: 100vh;
    border: 2px solid #FFF;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #AAA;
  }

  /* width */
  .dark ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  /* Track */
  .dark ::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #374151;
  }

  /* Handle */
  .dark ::-webkit-scrollbar-thumb {
    background: #6b7280;
    border-radius: 100vh;
    border: 2px solid #374151;
  }

  /* Handle on hover */
  .dark ::-webkit-scrollbar-thumb:hover {
    background: #7a8294;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* For IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

.profile-following {
  @apply flex justify-center max-h-max whitespace-nowrap focus:outline-none focus:ring;
  @apply max-w-max border bg-transparent;
  @apply items-center hover:shadow-lg font-bold py-2 px-4 rounded-full mr-0 ml-auto;
}

.primary {
  @apply border-vividSkyBlue text-vividSkyBlue hover:border-cyan-600
}

.error {
  @apply border-red-700 text-red-700 hover:border-red-700;
}
