@theme {
  --dark-mode: class;

  /* Breakpoints */
  --breakpoint-xs: 614px;
  --breakpoint-sm: 1002px;
  --breakpoint-md: 1022px;
  --breakpoint-lg: 1092px;
  --breakpoint-xl: 1280px;

  /* Brand Colors */
  --color-vivid-sky-blue: #1cceed;
  --color-citrine: #edd71c;
  --color-cerise-pink: #ed1c7a;
  --color-twilight-lavender: #98456a;

  /* Base Neutral Colors */
  --color-cadet-800: #3f6066;
  --color-cadet-900: #44676e;

  /* Custom Layout Widths */
  --width-68: 68px; /* Icon size */
  --width-88: 88px; /* Avatar size */
  --width-275: 275px; /* Sidebar collapsed */
  --width-290: 290px; /* Sidebar expanded */
  --width-350: 350px; /* Right panel */
  --width-600: 600px; /* Main feed */

  /* Background Images */
  --background-image-tos-image: url("/images/steve-johnson-abstract.jpg");
}
